Nemesis
im.nemesis
En partage d'écran

Nemesis — 19/01/2025 23:24
ah..je pensais que c'etait juste une erreur bete...
merci
iasss_930 — 19/01/2025 23:39
Hager je vais te tuer
iasss_930 a commencé un appel qui a duré 28 minutes. — 19/01/2025 23:40
iasss_930 — 19/01/2025 23:54
const productImage = product.querySelector("img").src;
image: productImage,
Nemesis — 20/01/2025 02:02
Type de fichier joint : archive
challenge web - Copie.zip
2.00 MB
merci..
c'est surement au niveau de objet.js
iasss_930 a commencé un appel qui a duré 3 heures. — 20/01/2025 02:06
Nemesis — 20/01/2025 02:28
price : parseFloat(productPricr).toFixed(2),
iasss_930 — 20/01/2025 02:34
€
Nemesis — 20/01/2025 03:48
Eeeh..
Comme j’suis un boulet
iasss_930 — 20/01/2025 03:48
Je sais meme pas ce qui se passe
Nemesis — 20/01/2025 03:48
iasss_930 — 22/01/2025 17:03
Type de fichier joint : acrobat
TD_automates finis_2023-24.pdf
423.20 KB
iasss_930 a commencé un appel qui a duré une heure. — 03/02/2025 00:41
Nemesis — 03/02/2025 00:46
https://code-with-me.global.jetbrains.com/cumJY92EfCk3bw_zCTGmKw#p=IC&fp=8A18619273B429387BDAD8A4B91B90D8721C133EE6863A73DAA1B4C0070916B2&newUi=true
Nemesis — 03/02/2025 01:30
hager.dhb
Nemesis — 05/03/2025 20:07
https://discord.gg/5sEnUEvN
https://discord.gg/KzZPUy8y
iasss_930 — 10/03/2025 00:25
https://home.by.me/en/project/0aad97696dd59eaf15c5332/chevilly-larue?open_planner=true
HomeByMe
Free and online 3D home design planner - HomeByMe
HomeByMe, Free online software to design and decorate your home in 3D. Create your plan in 3D and find interior design and decorating ideas to furnish your home
Image
Image
Dis-moi ça rend comment
Et surtout si tu peux voir mdrr
iasss_930 a commencé un appel qui a duré 4 heures. — 10/03/2025 02:01
iasss_930 — 10/03/2025 02:46
https://home.by.me/en/project/0aad97696dd59eaf15c5332/chevilly-larue?open_planner=true
HomeByMe
Free and online 3D home design planner - HomeByMe
HomeByMe, Free online software to design and decorate your home in 3D. Create your plan in 3D and find interior design and decorating ideas to furnish your home
Image
Image
iasss_930 — 10/03/2025 05:28
Tu m'entends pas ?
iasss_930 — 10/03/2025 15:58
Une idée random comme le thème de ton personnage c'est de rager

Tu pourrais choper un de tes moments rage iconique / hurlement / rire (comme celui de fou du stream d'hier)
Peut-être en faire un GIF
Combiner les deux pour des affichages à l'écran lors des dons

Le fait qu'ils s'attendent à tes réactions iconiques en faisant des dons va peut-être les encourager à en faire plus, surtout dans des moments propices pendant un jeu
Avis d'un non-streamer toujours
Nemesis a commencé un appel qui a duré quelques secondes. — 10/03/2025 16:45
Nemesis — 10/03/2025 16:45
Oulah
Scuse me
iasss_930 — 10/03/2025 18:04
Juste un mec qui a mangé une clim
iasss_930 — 11/03/2025 23:06
Afficher où on en est dans tes subs goal direct sur l'écran pour qu'on puisse suivre à tout moment
Nemesis — 25/03/2025 14:35
Un événement historique récent qui illustre la notion de "se libérer" en lien avec la démocratie et l'engagement est la lutte démocratique menée au Bangladesh en 2024. Ce pays a marqué les esprits en renversant un régime autocratique et en restaurant des institutions démocratiques, ce qui lui a valu d'être désigné "Pays de l'année" par The Economist. Cette révolution pacifique a été portée par un mouvement populaire exigeant des élections libres, la fin de la corruption et une meilleure gouvernance. Ce combat symbolise l'engagement citoyen pour la liberté et la démocratie dans un contexte de répression politique[1].

Un autre exemple significatif est la commémoration des 50 ans de la restauration de la démocratie en Grèce en 2024. Cet anniversaire a rappelé les luttes contre la dictature militaire (1967-1974) et les efforts pour reconstruire un système démocratique après des années de répression. Des expositions et événements ont mis en lumière les sacrifices faits pour retrouver la liberté, illustrant comment une société peut se libérer de l'autoritarisme grâce à l'engagement collectif[5].
Nemesis — 25/03/2025 14:42
Un événement récent en France qui illustre concrètement la notion de "se libérer" en lien avec la démocratie et l'engagement est la mobilisation massive contre le racisme et la montée de l'extrême droite, qui a eu lieu le 22 mars 2025. Près de 91 000 personnes ont manifesté dans tout le pays, dont 21 500 à Paris, pour dénoncer la normalisation des idées d'extrême droite dans le discours politique et les politiques gouvernementales[4].

Contexte démocratique et engagement citoyen
Ces manifestations ont été organisées dans un contexte de durcissement des politiques migratoires et de contrôle des frontières en France, accompagné d'une droitisation marquée du paysage politique. Les participants ont exprimé leur rejet de ce qu'ils perçoivent comme une menace pour les valeurs démocratiques fondamentales, telles que l'égalité et la justice sociale. Les slogans portaient des messages forts, comme « Le fascisme est une gangrène de Washington à Paris », soulignant une inquiétude face à la montée des idées réactionnaires à l'échelle nationale et internationale[4].

Lien avec la notion de "se libérer"
Ces mobilisations traduisent un effort collectif pour se libérer de l'influence croissante des idéologies d'extrême droite sur les institutions démocratiques françaises. Elles reflètent également un engagement citoyen actif pour défendre une démocratie inclusive et lutter contre les discriminations systémiques. Cet événement est emblématique d'une société civile qui refuse de rester passive face à ce qu'elle considère comme une dérive autoritaire ou xénophobe.

Ce mouvement s'inscrit dans une tradition française d'engagement populaire pour protéger les valeurs républicaines, soulignant que la lutte pour la démocratie reste un processus actif nécessitant vigilance et participation collective.
[4] Tens of thousands took to the streets in France against racism and ... https://www.lemonde.fr/en/france/article/2025/03/22/tens-of-thousands-took-to-the-streets-in-france-against-racism-and-far-right_6739423_7.html
[5] [PDF] Exploring New Frontiers of Citizen Participation in the Policy Cycle https://www.oecd.org/content/dam/oecd/en/about/programmes/reinforcing-democracy-initiative/Exploring-New-Frontiers-of-Citizen-Participation-Discussion-Paper.pdf
[6] In France, a political debate out of phase with global upheavals https://www.lemonde.fr/en/politics/article/2025/02/26/in-france-a-political-debate-out-of-phase-with-global-upheavals_6738579_5.html
Le Monde.fr
Tens of thousands took to the streets in France against racism and ...
Nearly 91,000 people took part in protests across France, said the interior ministry. Many of those marching highlighted the growing strength of reactionary political forces, in France but also in the United States.
Tens of thousands took to the streets in France against racism and ...
Le Monde.fr
In France, a political debate out of phase with global upheavals
NEWS ANALYSIS. Faced with the American ideological onslaught, most French politicians seem bewildered and not up to the task, at the risk of lagging behind history.
In France, a political debate out of phase with global upheavals
[7] Citizens' Action for Democracy – CitiDem https://citizenstakeover.eu/citidem/
[8] Citizens, Equality, Rights and Values Programme (CERV) https://www.coordinationsud.org/financement/citizens-equality-rights-and-values-programme-cerv-fostering-citizens-engagement-and-participation/
[9] 2025: A big year for France - Consulat général de France à Vancouver https://vancouver.consulfrance.org/2025-A-big-year-for-France
[10] [Decoding France] - 2025: Hope Beneath the Political Gridlock? https://www.institutmontaigne.org/en/expressions/decoding-france-2025-hope-beneath-political-gridlock
[11] Citizens' engagement and participation - Search for Funding https://www.euro-access.eu/en/calls/1744/Citizens-engagement-and-participation
[12] 2025 : La France plus que jamais engagée https://eg.ambafrance.org/2025-La-France-plus-que-jamais-engagee
[13] France: Freedom in the World 2024 Country Report https://freedomhouse.org/country/france/freedom-world/2024
[14] Citizens Engagement - Alda Europe https://www.alda-europe.eu/thematic-hubs/civic-engagement/
[15] Post-Daesh: France's engagement - Ministry for Europe and Foreign ... https://www.diplomatie.gouv.fr/en/country-files/north-africa-and-middle-east/post-daesh-france-s-engagement/
[16] French voters' mistrust of politics aggravated since snap elections ... https://www.lemonde.fr/en/politics/article/2025/02/12/french-voters-mistrust-of-politics-aggravated-since-snap-elections-gap-with-neighbors-widens_6738080_5.html
[17] What is the Citizen Engagement Account (CEC)? - Service-Public.fr https://www.service-public.fr/particuliers/vosdroits/F34030?lang=en
Citizens Take Over Europe
cillero
Citizens' Action for Democracy - Citizens Take Over Europe
Citizens' Action for Democracy - Citizens Take Over Europe
Coordination SUD
Jessica Narvaez
Citizens, Equality, Rights and Values Programme (CERV) : fostering ...
Objective: Promoting citizens’ and representative associations’ participation in and contribution to the democratic and civic life of the Union by making known and publicly exchanging their views in all areas of Union action. Eligibility criteria: Eligible participants: Public or private legal entities. Lead applicants: Non-profit private le...
Citizens, Equality, Rights and Values Programme (CERV) : fostering ...
Institut Montaigne
[Decoding France] - 2025: Hope Beneath the Political Gridlock?
Freshly reelected, the U.S. president's bold moves contrast sharply with France's political gridlock. Decoding France explores this stalemate at the year's uncertain start.
[Decoding France] - 2025: Hope Beneath the Political Gridlock?
Citizens’ engagement and participation - Search for Funding - Eur...
Nemesis — 01/04/2025 17:33
Dossier thématique : Le réchauffement climatique en Fr 

I. Constatations, Faits, Données concrètes, Observations, Description et Définitions

Constatations : La France connaît une augmentation des températures moyennes, des vagues de chaleur plus fréquentes et des phénomènes météorologiques extrêmes comme les inondations et les sécheresses.
Facts et données : Les températures pourraient augmenter de 3,8 °C d'ici 2100, entraînant des impacts significatifs sur les écosystèmes et l'agriculture.
Obs : Les changements climatiques affectent la biodiversité et la productivité agricole, avec des conséquences économiques et sociales notables.

 II. Causes, origines, raisons

Causes : Les émissions de gaz à effet de serre, principalement le CO₂, dues à l'utilisation des énergies fossiles et à la déforestation, sont les principales causes du réchauffement climatique.
Origines : L'industrie, le transport et l'agriculture sont les secteurs les plus émetteurs.
Raisons : La dépendance aux énergies fossiles et la mauvaise gestion des ressources naturelles sont des facteurs clés.

III. Conséquences

Conséquences environnementales : Perte de biodiversité, dégradation des sols, et modification des écosystèmes.
Conséquences économiques : Coûts croissants liés aux catastrophes naturelles et à la perte de productivité agricole.
Conséquences sociales : Inégalités sociales exacerbées, santé publique affectée par les conditions climatiques extrêmes.

 IV. Concessions

Concessions nécessaires : Transition vers les énergies renouvelables, amélioration de l'efficacité énergétique, et adoption de pratiques agricoles durables.
Coûts et avantages : Bien que les coûts initiaux soient élevés, les bénéfices à long terme incluent une réduction des émissions, une économie sur les coûts de santé, et une création d'emplois dans les secteurs verts.
Compromis: Équilibrer les besoins économiques immédiats avec les nécessités environnementales à long terme.
iasss_930 — 01/04/2025 17:49
Type de fichier joint : document
Note de cadrage_Grand discours_2024-2025_JS_Efrei Paris.docx
32.96 KB
Nemesis — 01/04/2025 17:55
Imaginez un futur où nos étés ne sont plus synonymes de vacances, mais de survie. Un futur où les forêts qui bordent nos campagnes s’embrasent sous des températures insoutenables, où les rivières qui irriguent nos terres se tarissent et où les inondations ravagent nos villes. Ce n’est pas une dystopie lointaine. C’est la France d’aujourd’hui, confrontée à une crise climatique sans précédent.
Le réchauffement climatique n’est pas une menace abstraite : il est là, palpable, mesurable. En 2022, la France a enregistré son année la plus chaude depuis le début des relevés météorologiques avec une température moyenne de 14,5 °C, soit 1,6 °C au-dessus des normales saisonnières (source : Météo-France). Les vagues de chaleur se multiplient : l’été dernier, nous avons connu trois épisodes caniculaires successifs. Ces événements ne sont plus des anomalies ; ils deviennent la norme.
Constatations et faits concrets
Les conséquences sont déjà visibles. Les sécheresses prolongées ont réduit les rendements agricoles de 20 % dans certaines régions françaises (source : INRAE). Les incendies de forêt ont ravagé plus de 72 000 hectares en 2022 dans le sud-ouest du pays (source : Le Monde). Et ce n’est pas tout : selon le dernier rapport du GIEC (2023), si aucune action drastique n’est prise, les températures en France pourraient augmenter de 3 à 5 °C d’ici la fin du siècle.
Mais au-delà des chiffres et des rapports scientifiques, ce sont nos vies qui sont en jeu. Ce sont nos paysages qui disparaissent, notre santé qui se détériore face à la pollution atmosphérique accrue et aux vagues de chaleur mortelles. Ce sont nos enfants qui hériteront d’un monde que nous avons contribué à détruire.
Références pour appuyer vos arguments
Pour renforcer cette partie lors de votre plaidoyer oral, voici quelques textes et articles que vous pouvez utiliser comme sources :
    
Rapport du GIEC (2023) : Disponible sur le site officiel du GIEC (www.ipcc.ch), ce rapport fournit des données précises sur l’augmentation des températures et ses impacts en Europe.
Article de Météo-France : “2022 : l’année la plus chaude jamais enregistrée en France” (www.meteofrance.fr).
Étude de l’INRAE : “Les impacts du changement climatique sur l’agriculture française” (www.inrae.fr).
Article du Monde : “Les incendies de forêt en France atteignent un niveau record en 2022” (Le Monde, août 2022).
Rapport WWF : “La biodiversité française face au réchauffement climatique” (www.wwf.fr).
Ces sources vous permettront d’étayer vos propos avec des faits solides et crédibles lors de votre présentation.
Figures de style intégrées dans l’exorde
    •    Métaphore : “Nos étés ne sont plus synonymes de vacances, mais de survie.”
    •    Anaphore : “Ce sont nos paysages qui disparaissent, notre santé qui se détériore… Ce sont nos enfants…”
    •    Gradation dévalorisante : “Les forêts s’embrasent, les rivières se tarissent et les inondations ravagent.”
    •    Personnification : “Le réchauffement climatique frappe à notre porte.”
Nemesis — 03/04/2025 18:48
Transféré
Type de fichier joint : acrobat
TP6.pdf
119.55 KB
Pour vendredi 23h apparement 🫠
iasss_930 — 05/04/2025 01:45
Type de fichier joint : archive
TP6_Hager.zip
4.60 KB
Nemesis — 01:05
https://github.com/hager-444/Projet-Portfolio/tree/main/Le%20portfolio
GitHub
Projet-Portfolio/Le portfolio at main · hager-444/Projet-Portfolio
Contribute to hager-444/Projet-Portfolio development by creating an account on GitHub.
Projet-Portfolio/Le portfolio at main · hager-444/Projet-Portfolio
iasss_930 a commencé un appel. — 01:40
Nemesis — 01:47
https://prod.liveshare.vsengsaas.visualstudio.com/join?E215D64DFEC488A1B50D7442E79175ABE754
Visual Studio Code for the Web
Build with Visual Studio Code, anywhere, anytime, entirely in your browser.
https://prod.liveshare.vsengsaas.visualstudio.com/join?CF1BCF6D7916E0F8485E06CDBAFE58146C56
Visual Studio Code for the Web
Build with Visual Studio Code, anywhere, anytime, entirely in your browser.
iasss_930 — 02:20
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
25 Ko
/* Définition des variables globales */
/* Couleur en mode sombnre */
:root {
  --text: #f4edfd; /* Couleur du texte */
  --background: #110f13; /* Couleur de fond */
  --primary: #a564f5; /* Couleur principale */
Afficher plus
style.css
18 Ko
﻿
/* Définition des variables globales */
/* Couleur en mode sombnre */
:root {
  --text: #f4edfd; /* Couleur du texte */
  --background: #110f13; /* Couleur de fond */
  --primary: #a564f5; /* Couleur principale */
  --secondary: #7e679c; /* Couleur secondaire */
  --accent: #04f671; /* Couleur d'accentuation */
  --icons: invert(); /* Filtre pour les icônes */
  --fill: #ece2f9; /* Couleur de remplissage */
  --icon-toggle: url("https://www.svgrepo.com/download/432507/light-mode.svg"); /* Icône pour le bouton toggle */
  --svgbackground: #331e4e; /* Fond des SVG */
  --navbackground: linear-gradient(
    0deg,
    transparent,
    rgba(0, 0, 0, 0.7)
  ); /* Fond du menu de navigation */
  --filtre: invert(0); /* Filtre par défaut */
}

/* Couleur en mode clair */
:root[data-theme="light"] {
  --text: #161722;
  --background: #f3edf8;
  --primary: #4c06a2;
  --secondary: #9179ac;
  --accent: #09fb76;
  --icons: none;
  --fill: #10061e;
  --icon-toggle: url("images/icons/light_mode_icon.svg");
  --svgbackground: #b59fd3;
  --navbackground: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.7));
  --filter: invert(1);
}

/* Application des variables aux styles globaux */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  color: var(--accent);
  text-decoration: none;
}

button {
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

.icon-toggle {
  background-image: var(--icon-toggle);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

nav {
  background: var(--navbackground);
}

svg {
  background-color: var(--svgbackground);
}

footer {
  background-color: var(--secondary);
  color: var(--text);
  text-align: center;
  padding: 20px;
}

/* Couleur en mode clair */
:root[data-theme="light"] {
  --text: #161722; /* Couleur du texte */
  --background: #f3edf8; /* Couleur de fond */
  --primary: #4c06a2; /* Couleur principale */
  --secondary: #9179ac; /* Couleur secondaire */
  --accent: #09fb76; /* Couleur d'accentuation */
  --icons: none;
  --fill: #10061e;
  --icon-toggle: url("images/icons/light_mode_icon.svg");
  --svgbackground: #b59fd3;
  --navbackground: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.7));
  --filter: invert(1);
}

/* Ajustement des traits sous les mots */
.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px; /* Ajuste la position du trait */
  left: 0.6ch;
  width: 100%;
  transform-origin: left;
  height: 20%; /* Réduction de la hauteur du surlignage pour un trait plus fin */
  background: var(--primary); /* Utilise la couleur principale */
}

/* Application des styles globaux */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  color: var(--accent);
  text-decoration: none;
}

button {
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

.icon-toggle {
  background-image: var(--icon-toggle);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

nav {
  background: var(--navbackground);
}

svg {
  background-color: var(--svgbackground);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main-content {
  flex: 1; /* Permet au contenu principal de prendre tout l'espace disponible */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

footer {
  background-color: var(--secondary);
  color: var(--text);
  text-align: center;
  padding: 20px;
}

/* Footer amélioré pour un design plus esthétique */
footer {
  background-color: var(--secondary); /* Couleur de fond du footer */
  color: var(--text); /* Couleur du texte dans le footer */
  text-align: center;
  padding: 20px;
}

/* Classe permettant de mettre en gras tout texte ayant la class strong */
.strong {
  font-weight: 900;
}

/* CSS permettant d'ajouter un surlignage personnalisé */
.underline {
  position: relative;
}

button {
  cursor: pointer;
}

.underline::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px; /* Ajuste la position du trait */
  left: 0.6ch;
  width: 100%;
  transform-origin: left;
  height: 20%; /* Réduction de la hauteur du surlignage pour un trait plus fin */
  background: var(--primary); /* Couleur principale */
}

/* Liens stylisés */
.link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #7d2ae2;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 1.3vh 1.3vw;
  width: fit-content;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  align-items: center;
}

.link svg {
  width: 30px;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  border-radius: 25px; /* Effet arrondi au survol */
}

.link:hover svg {
  transform: translateX(5px) translateY(-3px);
}

.next-project .link:hover svg {
  transform: translateX(5px);
}

/* Changement du style de la scrollbar */
/* Taille de la scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

/* Couleur de fond secondaire de la scrollbar */
::-webkit-scrollbar-track {
  background: #232027;
}

/* Couleur de fond primaire de la scrollbar */
::-webkit-scrollbar-thumb {
  background: #949494;
}

/* Couleur de fond primaire de la scrollbar au hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8d7d7;
}

.icons {
  filter: var(--icons);
}

.link-icon {
  text-decoration: none;
}

a {
  color: var(--primary);
  font-size: 800; /* Taille du texte des liens */
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  font-family: "Syne", sans-serif; /* Police moderne */
  overflow-x: hidden; /* Empêche le débordement horizontal */
}

/* Footer amélioré pour un design esthétique */
footer {
  background-color: var(--secondary); /* Couleur de fond du footer */
  color: var(--text); /* Couleur du texte dans le footer */
  text-align: center; /* Centrer le contenu du footer */
  padding: 20px; /* Espacement interne */
}

/* Ajout d'une margin pour chacune de mes sections */
section {
  margin: 0 3% 150px 3%;
}

/* Ajout d'un padding sur des sections spécifiques */
#a-propos,
#projects,
#contact {
  padding-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

#a-propos .resume-detail,
#contact .contact-text {
  margin-left: 1%;
}

/* Ajout d'une margin spécifique sur ma section contact */
#contact {
  margin-bottom: 170px;
}

/* CSS de ma nav */
nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  font-size: 1.4rem;
  font-weight: 800;
  animation: fadeInDown 1.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(5px);
  background: var(--navbackground);
}

nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  transform: scale(1);
}

nav li a {
  position: relative;
  text-decoration: none;
  color: var(--text);
  transition: margin 0.25s;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  filter: var(--filter);
}

nav .mid li a::after,
.link-hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: var(--primary);
  margin-top: 5px;
  transition: width 0.3s ease-in-out;
}

nav .mid li a:hover::after,
.link-hover:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

nav ul li:active {
  transform: scale(0.9);
}

nav .mid {
  gap: 50px;
}

nav .left {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .left li {
  height: 190px;
  padding-top: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  height: 130px;
}

nav .right li {
  border-radius: 5px;
  padding: 5px 15px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-toggle {
  background: var(--icon-toggle) no-repeat center center;
  background-size: contain;
  border: none;
  padding: 0;
  width: 65px;
  height: 65px;
  filter: var(--icons);
}

#nav-mobile {
  display: none;
  height: 100%;
  position: fixed;
  z-index: 99;
  width: 100%;
  color: #ece2f9;
  background: #232027;
  top: 0;
}

#nav-mobile #SVGRepo_iconCarrier * {
  stroke: #ece2f9;
}

.navigation-mobile {
  display: flex;
  flex-direction: column;
  background: #232027;
}

/* Section hero */
#hero {
  display: flex;
  align-items: center;
  place-content: center;
  height: 100vh;
  position: relative;
  justify-content: start;
}

.line-left {
  display: flex;
  gap: 15px;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.line-hero {
  width: 1px;
  height: 78%;
  background-color: var(--text);
  margin-right: 15px;
  margin-left: 15px;
}

.line-icons {
  gap: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.line-icons a {
  text-decoration: none;
}

.line-icons i {
  font-size: 2.3rem;
  color: var(--text);
}

#hero .hero-container {
  text-transform: uppercase;
  width: max-content;
  margin: 2%;
}

#hero-title {
  font-size: 6rem;
  font-weight: 800;
  color: var(--text);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  margin: 0;
  padding: 0;
}

#hero-title span {
  color: var(--primary);
}

#hero .char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

#hero #hero-paragraphe {
  font-size: 1.8rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#hero #animate-background {
  transform: translate(-50%);
  max-width: 1100px;
  position: absolute;
  z-index: -100;
  filter: blur(20px);
  fill: var(--svgbackground);
  pointer-events: none;
  transform: none;
  transition: transform 10000ms ease-out;
  padding: 2px;
}

/* CSS de mon indicateur de scroll */
#hero .scroll-downs {
  position: absolute;
  right: 0;
  bottom: 5%;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}

#hero .mousey {
  width: 3px;
  padding: 9px 14px;
  height: 35px;
  border: 2px solid;
  border-color: var(--secondary);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  cursor: pointer;
}

#hero .scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--secondary);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* CSS de ma section a-propos */
#a-propos .resume {
  display: flex;
  flex-direction: column;
}

#a-propos .resume .resume-content {
  display: flex;
  flex-direction: row;
  gap: 15%;
}

#a-propos .resume .resume-content img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

#a-propos .resume .resume-content .resume-text {
  max-width: 50%;
}

.title {
  font-size: 2.8rem;
  text-transform: uppercase;
}

#a-propos .resume p {
  font-size: 1.3rem;
}

#a-propos .skills .skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 colonnes pour les 4 catégories */
  gap: 20px;
  /* Espacement entre les colonnes et les lignes */
  justify-content: center;
  margin: 0 100px;
  justify-items: center;
}

.skills {
  margin: 120px 0;
}

.skills h3 {
  text-align: center;
  font-size: 2.5rem;
  margin: 20px;
}

.skills .skills-list h4 {
  font-size: 1.5rem;
}

.skills .skills-list li p {
  padding: 7px;
  font-size: 1.225rem;
  margin: 0;
}

.skills ul > li:nth-child(odd) > p i {
  background: linear-gradient(53deg, var(--primary) 35%, var(--accent) 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.skills .skills-list ul {
  list-style: none;
  padding: 0;
}

.skills .skills-list li {
  padding-bottom: 3%;
}

.skills .skills-list li img {
  width: 20px;
  margin-right: 3%;
}

/* CSS de ma section projects */
/* Section Mes Projets */
#projects {
  padding: 50px 20px;
  background-color: var(--background); /* Couleur de fond du site */
  color: var(--text); /* Écriture générale en blanc */
}

#projects .title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--primary); /* Couleur principale pour le titre */
  text-transform: uppercase; /* Texte en majuscules */
}

#projects .project {
  margin-bottom: 40px;
  padding: 20px 0; /* Espacement interne uniquement vertical */
  border-bottom: 1px solid var(--primary); /* Ligne séparatrice entre les projets */
}

#projects .project:last-child {
  border-bottom: none; /* Supprime la ligne pour le dernier projet */
}

#projects .project h3 {
  font-size: 1.8rem; /* Taille du titre des projets */
  color: var(--text); /* Couleur blanche pour le texte */
  font-weight: bold; /* Texte en gras */
  margin-bottom: 10px;
}

#projects .project p {
  font-size: 1rem; /* Taille du texte descriptif */
  line-height: 1.6; /* Espacement entre les lignes */
}

/* CSS de ma section contact */
.contact-content {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 100px;
}

.contact-content a {
  text-decoration: none;
}

.contact-header {
  max-width: 600px;
  font-size: 1.225rem;
}

.contact-icon {
  width: 48px;
  height: 48px;
}

.contact-card-content {
  display: flex;
  align-items: center;
  width: clamp(240px, 100%, 640px);
  height: fit-content;
  padding: 12px 20px;
  gap: 16px;
  background: #1d1e30;
  border-radius: 16px;
  filter: drop-shadow(0 32px 32px rgba(0, 0, 0, 0.08));
  transition: all 0.2s ease;
  color: #ece2f9;
}

.contact-card-content:nth-child(odd):hover {
  rotate: 1deg;
}

.contact-card-content:hover {
  rotate: -1deg;
}

.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
}

.contact-card-text {
  display: flex;
  flex-direction: column;
  color: #ece2f9;
}

.contact-card-text * {
  padding: 10px;
  margin: 0;
}

.burger-menu {
  border: none;
  background: transparent;
}

#SVGRepo_iconCarrier * {
  stroke: var(--text);
}

/* Par défaut, masquez la navigation */
#header-nav .hidden {
  display: none;
}

/* Affichez la navigation si la largeur de l'écran est supérieure à 1020px */
@media screen and (min-width: 1020px) {
  #header-nav .hidden {
    display: flex;
  }

  #header-nav .burger-nav {
    display: none;
  }

  nav .right {
    width: 20%;
  }

  .contact-list {
    width: 700px;
  }

  .container-left {
    height: 300px;
  }

  nav {
    margin: 0 3%;
  }
}

@media screen and (max-width: 1330px) {
  .Footer_blob-container,
  #animate-background {
    display: none;
  }
}

/* Affichez l'icône de menu si la largeur de l'écran est inférieure à 1020px */
@media screen and (max-width: 1020px) {
  .title {
    font-size: 2.3rem;
  }

  section {
    margin: 0 13px;
  }

  #header-nav .burger-menu {
    display: block;
  }

  #header-nav .hidden {
    display: none;
  }

  nav .left {
    margin: 0 13px;
  }

  nav img {
    width: 35px;
  }

  #hero .scroll-downs {
    display: none;
  }

  #hero-title {
    font-size: 3rem;
  }

  #a-propos th,
  td {
    padding: 0;
  }

  #a-propos .resume .resume-content {
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #a-propos .resume .resume-content .resume-text {
    max-width: 100%;
  }

  #a-propos .skills .skills-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: normal;
  }

  #a-propos .resume .resume-content img {
    width: 100%;
  }

  #projects ul {
    gap: 10px;
  }

  #projects .project-container {
    max-width: 100%;
  }

  #projects .container-right h3 {
    font-size: 1.7rem;
  }

  #projects .project-container {
    gap: 40px;
    flex-wrap: wrap;
  }

  .contact-list {
    width: 85%;
    align-items: flex-start;
  }

  .contact-content {
    flex-wrap: wrap;
    gap: 45px;
  }
}
